{% extends 'base.html' %}

{% block content1 %}
    {% if request.user.is_authenticated %}
        <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Buy">
        </form>
    {% else %}
        <p>Access denied</p>
    {% endif %}
{% endblock %}





{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{#    {% if request.user.is_authenticated %}#}
{#        <form method="post" action="{% url 'purchase_new' good.pk %}">#}
{#        <input type="text">#}
{#        {% csrf_token %}#}
{#        {{ form }}#}
{#            <input type="number">#}
{#        <input type="submit" value="Buy good">#}
{#        </form>#}
{#    {% else %}#}
{#        <p>Access denied</p>#}
{#    {% endif %}#}
{#{% endblock %}#}

