<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple text</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"
            integrity="sha256-xI/qyl9vpwWFOXz7+x/9WkG5j/SVnSw21viy8fWwbeE="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
{#                <a class="nav-link" href="{% url '' %}">Home <span#}
{#                        class="sr-only">(current)</span></a>#}
            </li>
        </ul>
{#        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
{#        <form class="form-inline my-2 my-lg-0" method="GET" action="http://www.google.com/search">#}
{#            <input class="form-control mr-sm-2" type="text" placeholder="Search"#}
{#                   aria-label="Search" name="title">#}
{#            <input type="submit" value="Search">#}
{#            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#        </form>#}
{#        <a style="color: red;#}
{#    margin-left: 20px;" href="{% url 'list' %}">Clear</a>#}

        <ul class="navbar-nav ml-auto">
            {% if not request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Sign Off</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'purchase_list' %}">Purchase List</a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{% url '' %}">Main page</a>#}
{#                </li>#}

            {% endif %}
        </ul>



        <ul>
            {% if request.user.is_superuser %}
                <a style="color: red" href={% url 'add_good' %}>Add new good</a>
                <a style="color: red" href={% url 'return_list' %}>New returns</a>
            {% endif %}
        </ul>

    </div>
</nav>
{% block content %}
{% endblock %}

</body>
</html>
{% block scripts %}
{% endblock %}